.counts-detail span{
    margin-left:6px; 
    cursor: initial;
} 
.panel{
    border-radius: 0px 7px 0px 7px;
    box-shadow: 0 2px 2px rgba(0,0,0,.08);
} 
h3{
    margin-top: 10px;
}
.topics{
text-transform: capitalize;
}




