<div class="col-md-6 col-md-offset-3"> 
<article>
    <div class="panel panel-default"> 
        <div class="panel-heading"><h3>{{ quote.author.name }}</h3></div>
        <div class="panel-body"> 
            <p><strong>Profession: </strong> {{ quote.author.profession | uppercase }}</p> 
            <p><strong>Intro :</strong> {{ quote.author.intro }}</p> 
            <p><strong>Born :</strong>{{ quote.author.born }}</p> 
            <p><strong>Died :</strong> {{ quote.author.died }}</p>  
            <p class="topics"><strong>Topics :</strong> {{ quote.topics}}</p> 
            <p><strong>Quote :</strong> {{ quote.quote }}</p>
        </div>
        <div class="panel-footer">
        <div class="row counts-detail">
            <div class="col-md-4 col-sm-4 col-xs-4"><fa [name]="'fab fa-facebook-square'" [size]=1 title="Like Count"></fa> <span>{{ quote.likeCount }}</span></div>
            <div class="col-md-4 col-sm-4 col-xs-4"><fa [name]="'fab fa-twitter-square'" [size]=1 title="Share Count"></fa> <span>{{ quote.shareCount }}</span></div>
            <div class="col-md-4 col-sm-4 col-xs-4"><fa [name]="'fab fa-pinterest-square'" [size]=1 title="View Count"></fa> <span>{{ quote.viewCount }}</span></div>
        </div>
        </div>
    </div> 
</article> 
</div>




